<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.cms.IAuthenticationMapper">
	
	<!-- 验证客户是否实名认证 begin -->
	<select id="isAuth" parameterType="int" resultType="int">
		SELECT COUNT(1)
		FROM CMS_USER_AUTHENTICATION
		WHERE USER_ID = #{userId}
	</select>
	<!-- 验证客户是否实名认证 end -->
</mapper>