<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.cms.IUserContactMapper">
	
	<!-- 新增用户关联 begin -->
	<insert id="save" parameterType="userContact">
		INSERT INTO CMS_USER_CONTACT(USER_ID, CHILD_USER_ID)VALUES(
			#{userId}, #{childUserId}
		)
	</insert>
	<!-- 新增用户关联 end -->
</mapper>