<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.cms.IUserMapper">
	<resultMap id="userMap" type="user">
		<id column="ID" property="id" jdbcType="DECIMAL"/>
		<result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
		<result column="LOGIN_PWD" property="loginPwd" jdbcType="VARCHAR"/>
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
		<result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 验证用户名是否存在 begin -->
	<select id="loadUser" parameterType="String" resultMap="userMap">
		SELECT ID, LOGIN_NAME, LOGIN_PWD
		FROM TB_USER
		WHERE LOGIN_NAME = #{loginName}
	</select>
	<!-- 验证用户名是否存在 end -->
	
	<!-- 更新登录时间 begin -->
	<update id="updateTime" parameterType="int">
		UPDATE TB_USER
			LAST_LOGIN_TIME = NOW()
		WHERE ID = #{id}
	</update>
	<!-- 更新登录时间 end -->
	
	<!-- 新增 begin -->
	<insert id="save" parameterType="user">
		INSERT INTO TB_USER(LOGIN_NAME, LOGIN_PWD, CREATED_TIME)VALUES(
			#{loginName}, #{loginPwd}, NOW()
		)
	</insert>
	<!-- 新增 end -->
</mapper>