<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.cms.IVerifyCodeMapper">
	<resultMap id="verifyCodeMap" type="verifyCode">
		<id column="ID" property="id" jdbcType="DECIMAL"/>
		<result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
		<result column="UUID" property="uuid" jdbcType="VARCHAR"/>
		<result column="TYPE" property="type" jdbcType="DECIMAL"/>
		<result column="CODE" property="code" jdbcType="VARCHAR"/>
		
		<result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="EXPIRY_TIME" property="expiryTime" jdbcType="TIMESTAMP"/>
		<result column="STATUS" property="status" jdbcType="DECIMAL"/>
		
	</resultMap>
	
	<!-- 获取验证码 begin -->
	<select id="loadVerifyCodeByuserid" parameterType="Map" resultMap="verifyCodeMap">
		SELECT ID, CODE, EXPIRY_TIME
		FROM CMS_VERIFY_CODE
		WHERE USER_ID = #{userId}
			AND TYPE = #{type}
			AND STATUS = 1
		LIMIT 1
	</select>
	<!-- 获取验证码 end -->
	
	<!-- 获取验证码 begin -->
	<select id="loadVerifyCodeByuuid" parameterType="Map" resultMap="verifyCodeMap">
		SELECT ID, CODE, EXPIRY_TIME
		FROM CMS_VERIFY_CODE
		WHERE UUID = #{uuid}
			AND TYPE = #{type}
			AND STATUS = 1
		LIMIT 1
	</select>	
	<!-- 获取验证码 end -->
	
	<!-- 更新验证码状态 begin -->
	<update id="update" parameterType="int">
		UPDATE CMS_VERIFY_CODE
			SET STATUS = 0
		WHERE ID = #{id}
	</update>
	<!-- 验证验证码状态 end -->
	
	<!-- 新增验证码 begin -->
	<insert id="save" parameterType="verifyCode">
		INSERT INTO CMS_VERIFY_CODE(USER_ID, UUID, TYPE, CODE, CREATED_TIME, EXPIRY_TIME, STATUS)VALUES(
			#{userId}, #{uuid}, #{type}, #{code}, #{createdTime}, #{expiryTime}, #{status}
		)
	</insert>
	<!-- 新增验证码 end -->
</mapper>