@charset "utf-8";

.clearfix{clear:both;}
/*顶部*/
.top_bk{
	width:100%;
	background-color:#f4f4f4;	
}
.top{
	max-width:1454px;
	margin:0 auto;
}
.top .huanying{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 36px;
}
.top div{
	padding-left:7px;
	padding-right:7px;
}
.top .bangzhu{
	float:right;
}
.top .fankui{
	float:right;
}
.top .tuichu{
	float:right;
}
.top .huanying{
	float:right;
}
.top div a{
	font-family: "微软雅黑";
	font-size: 14px;
	text-decoration: none;
	line-height: 36px;
	color:black;
}
.top div a:hover{
	color: #e66b0e;
}

/*logo+导航*/
.logo_bk{
	max-width:1560px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.logo{
	max-width:150px;
	float:left;
	margin-left:60px;
}
.logo img{
	width:100%;
	display:block;
}
.nav{
	margin:0;
	padding:0;
	float:right;
}
.nav li{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	padding-left:60px;
	padding-right:60px;
}
.nav a{
	font-family: "微软雅黑";
	font-size: 18px;
	text-decoration: none;
	line-height: 46px;
	color:black;
}
.nav .special{
	color:#00aaee;
}
.nav a:hover{
	color:#00aaee;
}