@charset "utf-8";
/* CSS Document */
html { box-sizing: border-box; min-height: 100%; margin:0; padding:0; }
body{
	margin:0;
	padding:0;
}
.clearfix{clear:both;}
/*顶部*/
.top_bk{
	width:100%;
	background-color:#f4f4f4;	
}
.top{
	max-width:1454px;
	margin:0 auto;
}
.top .huanying{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 36px;
}
.top div{
	padding-left:7px;
	padding-right:7px;
}
.top .bangzhu{
	float:right;
}
.top .fankui{
	float:right;
}
.top .tuichu{
	float:right;
}
.top .huanying{
	float:right;
}
.top div a{
	font-family: "微软雅黑";
	font-size: 14px;
	text-decoration: none;
	line-height: 36px;
	color:black;
}
.top div a:hover{
	color: #e66b0e;
}

/*logo+导航*/
.logo_bk{
/* 	max-width:1560px;
 */	margin:0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.logo{
	max-width:150px;
	float:left;
	margin-left:60px;
}
.logo img{
	width:100%;
	display:block;
}
.nav{
	margin:0;
	padding:0;
	float:right;
}
.nav li{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	padding-left:60px;
	padding-right:60px;
}
.nav a{
	font-family: "微软雅黑";
	font-size: 18px;
	text-decoration: none;
	line-height: 46px;
	color:black;
}
.nav .special{
	color:#00aaee;
}
.nav a:hover{
	color:#00aaee;
}
.nav2{
	width:1440px;
	margin:0 auto;
}
.list1{
	margin:0;
	padding:0;
	margin-left:-30px;
}
.list1 li{
	margin:0;
	padding:0;
	float:left;
	list-style: none;
	width:80px;
	height:24px;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:24px;
	text-align: center;
	margin-left:30px;
	margin-right:30px;
}
.list1 li a{
	text-decoration:none;
	color:#666;
}
.list1 li a:hover{
	color:#f17411;
}
.nav3{
/* 	width:1440px;
 */	margin:0 auto;
	padding-top:20px;
	background-color:white;
	margin-top:12px;
}
.nav3 h1{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	font-size:16px;
	line-height:32px;
	color:#ababab;
	float:left;
	padding-left:10px;
}
.nav3 .xiazai{
	width:72px;
	height:36px;
	float:right;
	background-color:#f17411;
	font-family:"微软雅黑";
	font-size:16px;
	line-height:36px;
	text-align:center;
	margin-right:10px;
}
.nav3 .xiazai a{
	color:white;
	text-decoration: none;
}

.nav3 .line1{
	width:100%;
	background-color:#eee;
	height:1px;
	margin-top:16px;
}
.juti{
	padding-top:20px;
	width:100%;
	background-color:#f5f6f7;
	padding-bottom:110px;

}
.nav4{
/* 	width:1440px;
 */	margin:0 auto;
	background-color:white;
}
.nav4 h1{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	font-size:16px;
	float:left;
	font-weight:normal;
	color:#999;
	line-height:90px;
	padding-left:10px;
}
.nav4 .choose{
	margin:0;
	padding:0;
	width:15%;
	font-family:"微软雅黑";
	font-size:16px;
	float:left;
	height:30px;
	border:none;
	margin-top:30px;
	padding-left:10px;
	border:1px solid #999;
	margin-left:16px;
}
.nav4 input{
	margin:0;
	padding:0;
	display:block;
	height:26px;
	margin-top:30px;
	padding-left:10px;
	font-family:"微软雅黑";
	font-size:16px;
	line-height:26px;
	float:left;
}
.nav4 .chaxun{
	width:72px;
	height:30px;
	float:left;
	background-color:#f17411;
	font-family:"微软雅黑";
	font-size:16px;
	line-height:30px;
	text-align:center;
	margin-right:10px;
	margin-top:30px;
	margin-left:30px;
}
.nav4 .chaxun a{
	color:white;
	text-decoration: none;
}

.juti .dingdan{
/* 	width:1440px;
 */	background-color:white;
	padding-top:30px;
	border:1px solid #e1e6eb;
	margin:0 auto;
}
.juti .dingdan h2{
	margin:0;
	padding:0;	
	font-family: "微软雅黑";
	font-size: 16px;
	margin-left:20px;
	float:left;
}
.juti .dingdan h3{
	margin:0;
	padding:0;	
	font-family: "微软雅黑";
	font-size: 16px;
	margin-left:20px;
	float:right;
	margin-right:20px;
	font-weight:normal;
}
.juti .dingdan h3 a{
	color:#00aaee;
	text-decoration: none;
}
.dingdan .biaoge{
	margin-top:20px;
}
.dingdan .biaoge .special{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height:36px;
	background-color:#f5f6fa;
	
	color:#999;
}
.dingdan .biaoge .special li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	padding-left:20px;
}
/* .dingdan .biaoge .line4{
	background-color:#e1e6eb;
	height:1px;
	width:100%;
}
.dingdan .biaoge .one{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height:56px;
	background-color:white;

	color:#222;
}
.dingdan .biaoge .one li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	padding-left:20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} */
.dingdan .biaoge .one a{
	color:#00aaee;
	text-decoration: none;
}
.dingdan .tiaozhuan{
	overflow: hidden;
	padding-top:10px;
	padding-bottom:10px;
}
/* .dingdan .tiaozhuan div{
	float:right;
	font-family: "微软雅黑";
	font-size: 12px;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#f3f4fc;
	margin-left:1px;
	margin-right:1px;
	cursor:pointer;

} */
/* .dingdan .tiaozhuan img{
	display:block;
	width:8px;
	margin:0 auto;
} */
.dingdan .tiaozhuan .anniu2:hover{
	background-color:#00aaee;
	color:white;
}

.anniu{
	float:right;
	font-family: "微软雅黑";
	font-size: 12px;
	width:30px;
	line-height:30px;
	text-align:center;
	background-color:#f3f4fc;
	margin-left:1px;
	margin-right:1px;
	cursor:pointer;
	padding-top:11px; 
	height:8px; 
	padding-bottom:11px;	
}

.anniu_input{
	float:right;
	font-family: "微软雅黑";
	font-size: 12px;
	width:30px;
	line-height:30px;
	text-align:center;
	background-color:#f3f4fc;
	margin-left:1px;
	margin-right:1px;
	cursor:pointer;
	padding-top:11px; 
	height:8px; 
	padding-bottom:15px;	
}
.anniu_img{
	display:block;
	width:8px;
	margin:0 auto;
}

.anniu_selected{
	float:right;
	font-family: "微软雅黑";
	font-size: 12px;
	width:30px;
	line-height:30px;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
	cursor:pointer;
	background-color:#00aaee; 
	color:white;	
}

.anniu_zi{
	float:right;
	font-family: "微软雅黑";
	font-size: 12px;
	width:110px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:white; 
	margin-left:1px;
	margin-right:20px;
	cursor:pointer;
}

.order_bg1{
	background-color:#e4e4e4; 
	border-radius:5px;
}