@charset "utf-8";
/* CSS Document */
html { box-sizing: border-box; min-height: 100%; margin:0; padding:0; }
body{
	margin:0;
	padding:0;
	background-color:#f1f1f1;
}
.clearfix{clear:both;}
/*顶部*/
.top_bk{
	width:100%;
/*	background-color:white;	*/
}
.top{
	width:974px;
	margin:0 auto;
	
}
.top img{
	width:15%;
	display:block;
	float:left;
}
.top div{
	padding-left:7px;
	padding-right:7px;
}
.top .gl{
	float:right;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 50px;
}
.top .tuichu{
	float:right;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 50px;
}
.top .huanying{
	float:right;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 50px;
}
.top div a{
	font-family: "微软雅黑";
	font-size: 14px;
	text-decoration: none;
	line-height: 36px;
	color:black;
}
.top div a:hover{
	color: #00aaee;
}
.eleme_nav{
	width:100%;
	background-color:white;
}
.eleme_nav ul{
	margin:0;
	padding:0;
	width:960px;
	margin:0 auto;
}
.eleme_nav li{
	margin:0;
	padding:0;
	list-style: none;
	float:left;
	width:33.33333%;
	text-align:center;
	line-height:50px;
	font-size:16px;
	font-family: "微软雅黑";
}
.eleme_nav li a{
	text-decoration: none;
	color:black;
}
.eleme_nav li a:hover{
	color:#00aaee;
}
.jf{
	width:960px;
	margin:0 auto;
	background-color:white;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	border-radius:10px;
}
.jf h1{
	margin:0;
	padding:0;
	font-size:20px;
	font-family: "微软雅黑";
	line-height:40px;
	padding-left:5%;
}
.one{
	width:960px; 
	margin:0 auto;
	background-color:white;
	margin-top:10px;
	padding-top:20px;
	border-radius: 10px 10px 0 0;
}
.one .kh{
	width:10%;
	text-align: center;
	font-size:16px;
	font-family: "微软雅黑";
	line-height:40px;
	background-color:#f1f1f2;
	border-radius:5px 0 0 5px;
	border:1px solid #ddd;
	float:left;
	margin-left:5%;
}
.one input{
	margin:0;
	padding:0;
	width:75%;
	font-size:16px;
	font-family: "微软雅黑";
	line-height:40px;
	background-color:white;
	border:1px solid #ddd;
	border-left:0;
	height:40px;
	float:left;
	padding-left:5%;
	color:#999;
}

.three{
	width:960px; 
	margin:0 auto;
	background-color:white;
	padding-top:80px;
	padding-bottom:20px;
	border-radius:0 0 10px 10px;
}
.three button{
	width:10%;
	font-size:16px; 
	font-family: "微软雅黑";
	line-height:40px;
	height:40px;
	color:white;
	border:none;
}
.three .line3{
	width:90%;
	height:1px;
	background-color:#999;
	margin:0 auto;
	margin-top:20px;
}
.three h1{
	margin:0;
	padding:0;
	font-size:16px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding-left:5%;
	margin-top:30px;
}
.three h2{
	margin:0;
	padding:0;
	font-size:14px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding-left:5%;
	margin-top:15px;
}
.bg{
	width:960px;
	margin:0 auto;
	background-color:white;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	border-radius: 10px;
}
.bg h1{
	margin:0;
	padding:0;
	margin-left:5%;
	font-size:16px;
	font-family: "微软雅黑";
	font-weight: normal;
	line-height:50px;
}
.bg .line1{
	width:90%;
	height:1px;
	background-color:#999;
	margin:0 auto;
}
.bg ul{
	margin:0;
	padding:0;
}
.bg li{
	margin:0;
	padding:0;
	list-style: none;
	float:left;
	width:33.3333%;
	text-align: center;
	line-height:40px;
	color:#999;
	font-size:14px;
	font-family:"微软雅黑";
}
.qq{
	text-align: center;
	margin-top:20px;
	float:left;
	margin-left:5%;
}
.tb{
	text-align: center;
	margin-top:20px;
	float:left;
	margin-left:50px;
}
.qq a{
	color:#00aaee;
	text-decoration: none;
}
.tb a{
	color:#00aaee;
	text-decoration: none;
}
.gz .line2{
	width:90%;
	height:1px;
	background-color:#999;
	margin:0 auto;
	margin-bottom:15px;
	margin-top:15px;
}
.gz h1{
	margin:0;
	padding:0;
	font-size:20px;
	font-family: "微软雅黑";
	text-align: center;
	line-height:50px;
}
.gz{
	width:960px;
	margin:0 auto;
	background-color:white;
}
.eleme_nav li .special{
	color:#00aaee;
}